<div class="alert alert-success mt-4" *ngFor="let user of usuariosList">
    <label for="">Nombre</label>
    <p class="form-control" >{{user.data.nombre}}</p>
    <label for="">email</label>
    <p class="form-control" >{{user.data.email}}</p>
    <label for="">pais</label>
    <p class="form-control" >{{user.data.pais}}</p>
    <label for="">ciudad</label>
    <p class="form-control" >{{user.data.ciudad}}</p>
    <label for="">telefono</label>
    <p class="form-control" >{{user.data.telefono}}</p>
    <label for="">rol</label>
    <p class="form-control" >{{user.data.rol}}</p>
</div>




